@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
    --color-primary: #8B5CF6;
    --color-secondary: #7C3AED;
    --color-tertiary: #A78BFA;
    --color-background: #f6f7f9;
    --color-foreground: #1f2020;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

/* Need this to ensure react markdown works as tailwind kicks the styles */
.markdown > * {
  all: revert;
}

.reactMarkdown a {
  @apply text-purple-700 hover:underline;
}
